.link:hover .icon_add03,.link:hover .icon_addonon,.link:hover .icon_back,.link:hover .icon_bch01,.link:hover .icon_bch02,.link:hover .icon_cal01,.link:hover .icon_cal02,.link:hover .icon_cal03,.link:hover .icon_cal04,.link:hover .icon_cal05,.link:hover .icon_cal06,.link:hover .icon_cal07,.link:hover .icon_cal08,.link:hover .icon_cal09,.link:hover .icon_cal10,.link:hover .icon_cal11,.link:hover .icon_cal12,.link:hover .icon_cal13,.link:hover .icon_cal14,.link:hover .icon_cancel,.link:hover .icon_cancel2,.link:hover .icon_cctv01,.link:hover .icon_cctv02,.link:hover .icon_change,.link:hover .icon_check,.link:hover .icon_check03,.link:hover .icon_check07,.link:hover .icon_check08,.link:hover .icon_copy,.link:hover .icon_delete,.link:hover .icon_detail,.link:hover .icon_down02,.link:hover .icon_download01,.link:hover .icon_gnb01,.link:hover .icon_gnb02,.link:hover .icon_gnb03,.link:hover .icon_gnb04,.link:hover .icon_gnb05,.link:hover .icon_gnb06,.link:hover .icon_gnb07,.link:hover .icon_gnb08,.link:hover .icon_gnb09,.link:hover .icon_gnb10,.link:hover .icon_gnb11,.link:hover .icon_gnb12,.link:hover .icon_gnb13,.link:hover .icon_gnb14,.link:hover .icon_gnb15,.link:hover .icon_gnb16,.link:hover .icon_gnb17,.link:hover .icon_gnb18,.link:hover .icon_history,.link:hover .icon_logout,.link:hover .icon_modify,.link:hover .icon_more,.link:hover .icon_more02,.link:hover .icon_paste,.link:hover .icon_pw,.link:hover .icon_removeon,.link:hover .icon_reset,.link:hover .icon_reset02,.link:hover .icon_up02{
 	display:inline-block;
	vertical-align:middle;
 	background-image:url(../../../img/sprite/dist/icon_linkhover.png);
 	background-repeat: no-repeat;
}
.link:hover .icon_add03{
	background-position:-120px 0px;
	width:11px;
	height:11px;
}
.link:hover .icon_addonon{
	background-position:-59px -83px;
	width:12px;
	height:12px;
}
.link:hover .icon_back{
	background-position:-120px -104px;
	width:10px;
	height:3px;
}
.link:hover .icon_bch01{
	background-position:-24px -99px;
	width:11px;
	height:12px;
}
.link:hover .icon_bch02{
	background-position:-12px -99px;
	width:11px;
	height:12px;
}
.link:hover .icon_cal01{
	background-position:-132px -24px;
	width:4px;
	height:12px;
}
.link:hover .icon_cal02{
	background-position:-132px -11px;
	width:4px;
	height:12px;
}
.link:hover .icon_cal03{
	background-position:-120px -36px;
	width:10px;
	height:10px;
}
.link:hover .icon_cal04{
	background-position:-120px -108px;
	width:10px;
	height:2px;
}
.link:hover .icon_cal05{
	background-position:-70px -99px;
	width:9px;
	height:9px;
}
.link:hover .icon_cal06{
	background-position:-50px -99px;
	width:9px;
	height:9px;
}
.link:hover .icon_cal07{
	background-position:-120px -68px;
	width:7px;
	height:12px;
}
.link:hover .icon_cal08{
	background-position:-120px -81px;
	width:7px;
	height:12px;
}
.link:hover .icon_cal09{
	background-position:-39px -83px;
	width:19px;
	height:12px;
}
.link:hover .icon_cal10{
	background-position:-18px -83px;
	width:20px;
	height:12px;
}
.link:hover .icon_cal11{
	background-position:-104px -61px;
	width:15px;
	height:12px;
}
.link:hover .icon_cal12{
	background-position:-132px 0px;
	width:6px;
	height:10px;
}
.link:hover .icon_cal13{
	background-position:-72px -83px;
	width:22px;
	height:6px;
}
.link:hover .icon_cal14{
	background-position:-132px -44px;
	width:4px;
	height:8px;
}
.link:hover .icon_cancel{
	background-position:-132px -37px;
	width:6px;
	height:6px;
}
.link:hover .icon_cancel2{
	background-position:-120px -94px;
	width:9px;
	height:9px;
}
.link:hover .icon_cctv01{
	background-position:0px -83px;
	width:17px;
	height:15px;
}
.link:hover .icon_cctv02{
	background-position:-84px -61px;
	width:18px;
	height:15px;
}
.link:hover .icon_change{
	background-position:-120px -24px;
	width:11px;
	height:11px;
}
.link:hover .icon_check{
	background-position:-91px -99px;
	width:10px;
	height:8px;
}
.link:hover .icon_check03{
	background-position:-104px -31px;
	width:14px;
	height:14px;
}
.link:hover .icon_check07{
	background-position:-80px -99px;
	width:10px;
	height:8px;
}
.link:hover .icon_check08{
	background-position:-9px -112px;
	width:8px;
	height:9px;
}
.link:hover .icon_copy{
	background-position:-102px -99px;
	width:8px;
	height:8px;
}
.link:hover .icon_delete{
	background-position:-104px -16px;
	width:14px;
	height:14px;
}
.link:hover .icon_detail{
	background-position:-104px -74px;
	width:9px;
	height:18px;
}
.link:hover .icon_down02{
	background-position:-132px -57px;
	width:6px;
	height:3px;
}
.link:hover .icon_download01{
	background-position:-104px -46px;
	width:14px;
	height:14px;
}
.link:hover .icon_gnb01{
	background-position:-21px -21px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb02{
	background-position:-42px -63px;
	width:20px;
	height:18px;
}
.link:hover .icon_gnb03{
	background-position:-63px -63px;
	width:20px;
	height:17px;
}
.link:hover .icon_gnb04{
	background-position:0px -21px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb05{
	background-position:0px -63px;
	width:20px;
	height:19px;
}
.link:hover .icon_gnb06{
	background-position:-21px -63px;
	width:20px;
	height:18px;
}
.link:hover .icon_gnb07{
	background-position:0px 0px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb08{
	background-position:-63px -20px;
	width:20px;
	height:19px;
}
.link:hover .icon_gnb09{
	background-position:-63px 0px;
	width:20px;
	height:19px;
}
.link:hover .icon_gnb10{
	background-position:-84px -42px;
	width:19px;
	height:18px;
}
.link:hover .icon_gnb11{
	background-position:-63px -40px;
	width:20px;
	height:19px;
}
.link:hover .icon_gnb12{
	background-position:-84px 0px;
	width:19px;
	height:20px;
}
.link:hover .icon_gnb13{
	background-position:-21px 0px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb14{
	background-position:-21px -42px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb15{
	background-position:-42px -42px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb16{
	background-position:0px -42px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb17{
	background-position:-42px -21px;
	width:20px;
	height:20px;
}
.link:hover .icon_gnb18{
	background-position:-42px 0px;
	width:20px;
	height:20px;
}
.link:hover .icon_history{
	background-position:-120px -47px;
	width:10px;
	height:10px;
}
.link:hover .icon_logout{
	background-position:-84px -21px;
	width:18px;
	height:20px;
}
.link:hover .icon_modify{
	background-position:-120px -12px;
	width:11px;
	height:11px;
}
.link:hover .icon_more{
	background-position:-60px -99px;
	width:9px;
	height:9px;
}
.link:hover .icon_more02{
	background-position:-104px 0px;
	width:15px;
	height:15px;
}
.link:hover .icon_paste{
	background-position:0px -112px;
	width:8px;
	height:9px;
}
.link:hover .icon_pw{
	background-position:0px -99px;
	width:11px;
	height:12px;
}
.link:hover .icon_removeon{
	background-position:-104px -93px;
	width:12px;
	height:2px;
}
.link:hover .icon_reset{
	background-position:-36px -99px;
	width:13px;
	height:10px;
}
.link:hover .icon_reset02{
	background-position:-120px -58px;
	width:10px;
	height:9px;
}
.link:hover .icon_up02{
	background-position:-132px -53px;
	width:6px;
	height:3px;
}
